// Impport bootstrap stuff
@import '../_build/bootstrap-4.0.0-beta/scss/_variables.scss';
@import '../_build/bootstrap-4.0.0-beta/scss/mixins/_breakpoints.scss';

.flexslider {
	border-radius: 0px;
	box-shadow: none;
	margin: 0px;
	border: none;

	@include media-breakpoint-up(sm) {
		.slides {
			width: 510px;
			height: 287px;
		}
	}
	@include media-breakpoint-up(md) {
		padding: 36px;
		.slides {
			width: 618px;
			height: 348px;
		}
	}
	@include media-breakpoint-up(lg) {
		//padding-right: 18px;
		padding-right: 0px;

		.slides {
			width: 600px;
			height: 338px;
		}

		.flex-direction-nav .flex-next {
			right: 28px;
		}

		&:hover {
			.flex-direction-nav .flex-next {
				right: 28px;
			}
		}
	}

	@include media-breakpoint-up(xl) {
		//padding-right: 18px;
		padding-right: 0px;

		.slides {
			width: 750px;
			height: 422px;
		}

		.flex-direction-nav .flex-next {
			right: -122px;
		}

		&:hover {
			.flex-direction-nav .flex-next {
				right: -122px;
			}
		}
	}
}

.flex-control-nav {
	bottom: 0px;
	z-index: 10;

	@include media-breakpoint-up(md) {
		position: absolute;
		bottom: 36px;
		width: 618px;
	}

	@include media-breakpoint-up(xl) {
		position: absolute;
		bottom: 36px;
		width: 750px;
	}
}

.flex-direction-nav {
	@include media-breakpoint-up(md) {
		position: absolute;
		top: 50%;
		width: 618px;
		.flex-next {
			right: 10px;
		}

		.flex-prev {
			left: 10px;
		}
	}

	a {
		line-height: 1;
		&:before {
			color: #fff
		}
	}
}

.flex-control-paging li a {
	&.flex-active {
		background: rgba(255, 255, 255, 0.9);
	}
	background: rgba(255, 255, 255, 0.5);
}
