[submodule "_build/FlexSlider"]
	path = _build/FlexSlider
	url = git@github.com:woocommerce/FlexSlider.git
	branch = master
[submodule "plugins/Flexslider-Admin"]
	path = plugins/Flexslider-Admin
	url = git@github.com:emrikol/Flexslider-Admin.git
